

.order_list{
  margin: 20px;
}

.form{
  .row{
    margin-top: 20px;
    span{
      width: 70px;
      display: inline-block;
    }
    .split{
      width: 30px;
      text-align: center;
    }
    .label_status, .query_btn{
      margin-left: 30px;
    }
    input{
      cursor: pointer;
    }
  }
}

.table{
  margin-top: 20px;
}

.pagination{
  margin-top: 20px;
  text-align: right;
}

.order_detail_table{
  table{
    width: 100%;
    border-color: #dfe6ec;
    border-width: 1px;
    td,th{
      padding: 3px 5px;
    }
  }
}

.checkbox_status{
  float: left;
  margin-top: 15px;
}

.process_select{
  width: 150px;
  height: 36px;
  border-radius: 4px;
}

.btn1{
  margin-left: 12px;
}

.btn2{
}

.billNo{
  font-family: "宋体";
  font-size:larger;
  color: gold;
}

.light_color{
  color: #1fa7d4
}

.orderColor{
  color: red;
}