<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="sis-bank-consumer"/>

    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" timeout="600000000" check="true"/>
    <!--<dubbo:registry protocol="zookeeper" address="zookeeper://localhost:2181" timeout="600000000" check="true"/>-->

    <dubbo:reference id="orderContract" interface="com.tasfe.sis.order.api.OrderContract" timeout="600000000" check="false"/>
    <dubbo:reference id="billContract" interface="com.tasfe.sis.order.api.BillContract" timeout="600000000" check="false"/>
    <dubbo:reference id="applicationAssignmentContract" interface="com.tasfe.sis.order.api.ApplicationAssignmentContract" timeout="600000000" check="false"/>
</beans>